@use "../../_styles/colors";

.home {
  .header {
    align-items: center;
    background-image: url("/images/headset-mobile.png");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 126px 0 112px;
    position: relative;
    width: 100%;

    &Title {
      color: colors.$white;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.3px;
      line-height: 40px;
      margin-bottom: 24px;
      text-align: center;
      text-transform: uppercase;
    }

    &Subtitle {
      color: colors.$white;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 10px;
      line-height: auto;
      margin-bottom: 16px;
      opacity: 49.64%;
      text-transform: uppercase;
    }

    &Content {
      color: colors.$white;
      font-size: 15px;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 28px;
      opacity: 75%;
      padding: 0 24px;
      text-align: center;
    }

    &Button {
      background-color: colors.$orange;
      border: none;
      color: colors.$white;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: auto;
      padding: 15px 31px;
      text-transform: uppercase;

      &:hover {
        background-color: colors.$light-orange;
      }
    }
  }
}

@media (min-width: 768px)  {
  .home {
    .header {
      background-image: url("/images/headset-tablet.png");
      background-position: center;
      padding: 126px 0 167px;

      &Title {
        font-size: 56px;
        letter-spacing: 2px;
        line-height: 58px;
        max-width: 60%;
        text-align: center;
      }

      &Subtitle {
        margin-bottom: 24px;
      }

      &Content {
        padding: 0;
        max-width: 50%;
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .home {
    .header {
      align-items: flex-start;
      background-image: url("/images/headset-desktop.png");
      background-size: contain;
      background-position-y: top;
      background-position-x: right;
      padding: 128px 0 158px;

      &Title {
        max-width: 50%;
        text-align: left;
      }

      &Content {
        text-align: left;
        max-width: 32%;
      }
    }
  }
}
