@use "../../_styles/colors";

.home {
  .header {
    align-items: center;
    background-image: url("/images/headset-mobile.png");
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 126px 0 112px;
    position: relative;
    width: 100%;

    &_title {
      color: colors.$white;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.3px;
      line-height: 40px;
      margin-bottom: 24px;
      text-align: center;
      text-transform: uppercase;
    }

    &_subtitle {
      color: colors.$white;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 10px;
      line-height: auto;
      margin-bottom: 16px;
      opacity: 49.64%;
      text-transform: uppercase;
    }

    &_content {
      color: colors.$white;
      font-size: 15px;
      letter-spacing: 0;
      line-height: 25px;
      margin-bottom: 28px;
      opacity: 75%;
      padding: 0 24px;
      text-align: center;
    }

    &_button {
      background-color: colors.$orange;
      border: none;
      color: colors.$white;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: auto;
      padding: 15px 31px;
      text-transform: uppercase;

      &:hover {
        background-color: colors.$light-orange;
      }
    }
  }
}

.shopping {
  margin-top: 40px;

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 16px;
    padding-top: 52px;
    position: relative;
    width: 100%;

    &_image {
      align-self: center;
      height: 104px;
      position: absolute;
      top: 0;
      width: auto;
    }

    &_content {
      background-color: colors.$gray;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 88px 0 22px;

      &_title {
        color: colors.$black;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.07px;
        line-height: auto;
        text-transform: uppercase;
      }

      &_link {
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 17px;
        text-decoration: none;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: colors.$orange;
        }

        &::after {
          border-color: colors.$orange;
          border-style: solid;
          border-width: 3px 3px 0 0;
          content: "";
          height: 6px;
          margin-left: 10px;
          position: relative;
          rotate: 45deg;
          width: 6px;
        }
      }
    }
  }
}

@media (min-width: 768px)  {
  .home {
    .header {
      background-image: url("/images/headset-tablet.png");
      background-position: center;
      padding: 126px 0 167px;

      &_title {
        font-size: 56px;
        letter-spacing: 2px;
        line-height: 58px;
        max-width: 60%;
        text-align: center;
      }

      &_subtitle {
        margin-bottom: 24px;
      }

      &_content {
        padding: 0;
        max-width: 50%;
        margin-bottom: 40px;
      }
    }
  }

  .shopping {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-top: 96px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .home {
    .header {
      align-items: flex-start;
      background-image: url("/images/headset-desktop.png");
      background-size: contain;
      background-position-y: top;
      background-position-x: right;
      padding: 128px 0 158px;

      &_title {
        max-width: 50%;
        text-align: left;
      }

      &_content {
        text-align: left;
        max-width: 32%;
      }
    }
  }

  .shopping {
    gap: 30px;
    margin-top: 120px;

    &_item {
      padding-top: 80px;

      &_image {
        height: 160px;
      }

      &_content {
        padding: 116px 0 30px;

        &_title {
          font-size: 18px;
          letter-spacing: 1.29px;
        }
      }
    }
  }
}
