@mixin title {
  text-transform: uppercase;
  font-weight: 700;
}

@mixin title_1 {
  @include title;
  font-size: 56px;
  letter-spacing: 2px;
  line-height: 58px;
}

@mixin title_2 {
  @include title;
  font-size: 40px;
  letter-spacing: 1.5px;
  line-height: 44px;
}

@mixin title_3 {
  @include title;
  font-size: 32px;
  letter-spacing: 1.15px;
  line-height: 36px;
}

@mixin title_4 {
  @include title;
  font-size: 28px;
  letter-spacing: 1.7px;
  line-height: 38px;
}

@mixin title_5 {
  @include title;
  font-size: 24px;
  letter-spacing: 1.7px;
  line-height: 33px;
}

@mixin title_6 {
  @include title;
  font-size: 18px;
  letter-spacing: 1.3px;
  line-height: 24px;
}

@mixin title_sub {
  @include title;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}

@mixin text_overline {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 19px;
  text-transform: uppercase;
}

@mixin text_body {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}
